In [2]:
import pandas as pd 
data = pd.read_csv('auto-mpg.csv')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
import statsmodels.api as sm 
y_initial = data['mpg']
x_initial = data[['cylinders','weight','model year']] 
initial_model = sm.OLS(y_initial,sm.add_constant(x_initial))
initial_results = initial_model.fit()
print(initial_results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.808
Model:                            OLS   Adj. R-squared:                  0.807
Method:                 Least Squares   F-statistic:                     545.6
Date:                Wed, 31 Jul 2024   Prob (F-statistic):          8.73e-139
Time:                        08:35:17   Log-Likelihood:                -1037.3
No. Observations:                 392   AIC:                             2083.
Df Residuals:                     388   BIC:                             2099.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -13.9076      4.066     -3.420      0.001     -21.902      -5.913
cylinders     -0.1517      0.234     -0.649      0.517      -0.611       0.308
weight        -0.0064      0.000    -13.746      0.000      -0.007      -0.005
model year     0.7520      0.050     14.987      0.000       0.653       0.851
==============================================================================
Omnibus:                       43.326   Durbin-Watson:                   1.231
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               74.042
Skew:                           0.678   Prob(JB):                     8.35e-17
Kurtosis:                       4.642   Cond. No.                     7.27e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.27e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
import matplotlib.pyplot as plt

In [1]:
plt.scatter(x=['mpg'],y=['model year'],label='plots',axis=0)

NameError: name 'plt' is not defined